@using ElectricityCostEstimatorBlazor.Services
@using ElectricityCostEstimatorBlazor.ViewModels

@rendermode InteractiveServer

@inject ElectricityEstimatorService estimatorService;

<h4>Electricity Plan</h4>

<div class="container mb-3 p-3 border rounded col-12">
    <div class="row">
        <div class="col-12">
            <div class="col-sm-12 col-md-9">
                <label for="ElectricityPlanSelect" class="form-label">Electricity Plan</label>
                <InputSelect id="ElectricityPlanSelect" TValue="int" Value="_planId" ValueChanged="OnElectricityPlanChanged" ValueExpression="@(() => _planId)" class="form-control col-sm-12 col-6">
                    <option value="0">- Add New Plan -</option>
                    @foreach (var plan in Plans)
                    {
                        <option value="@plan.Id">@plan.Description</option>
                    }
                </InputSelect>
            </div>
        </div>
    </div>

    <div class="mt-3 col-sm-12 col-md-12 border rounded">
        <EditForm Model="@Plan" OnValidSubmit="@OnElectricityPlanSave">
            <fieldset disabled="@IsPlanDisabled">
                <DataAnnotationsValidator></DataAnnotationsValidator>

                <div class="col-sm-12 m-3 col-md-9">
                    <label for="ElectricityPlanName" class="form-label">Plan Name</label><br />
                    <InputText id="ElectricityPlanName" class="form-control" @bind-Value="@Plan.Name"></InputText>
                    <ValidationMessage For="@(() => Plan.Name)"></ValidationMessage>
                </div>
                <div class="col-sm-12 m-3 col-md-5">
                    <label for="ElectricityPlanBaseCharge" class="form-label">Base Charge ($)</label><br />
                    <InputNumber id="ElectricityPlanBaseCharge" class="form-control col-sm-12 col-4" step="0.01" @bind-Value="@Plan.BaseCharge"></InputNumber>
                    <ValidationMessage For="@(() => Plan.BaseCharge)"></ValidationMessage>
                </div>
                <div class="row">
                    <div class="col-sm-12 m-3 col-md-5">
                        <label for="ElectricityPlanCredit" class="form-label">Credit Amount ($)</label><br />
                        <InputNumber id="ElectricityPlanCredit" class="form-control col-sm-12 col-4" step="0.01" @bind-Value="@Plan.Credit"></InputNumber>
                        <ValidationMessage For="@(() => Plan.Credit)"></ValidationMessage>
                    </div>
                    <div class="col-sm-12 m-3 col-md-5">
                        <label for="ElectricityPlanCreditMinimumUsage" class="form-label">Credit Min Usage (kWh)</label><br />
                        <InputNumber id="ElectricityPlanCreditMinimumUsage" class="form-control col-sm-12 col-4" @bind-Value="@Plan.CreditMinimumUsage"></InputNumber>
                        <ValidationMessage For="@(() => Plan.CreditMinimumUsage)"></ValidationMessage>
                    </div>
                </div>

                <label class="form-label ms-3">Tiers</label>
                <div class="row m-3 mt-0 col-11 pb-3 border rounded">
                    @foreach(var rate in Plan.ElectricityPlanRates.Take(3))
                    {
                        <div class="row ms-1 mt-3">
                            <div class="col-sm-12 col-md-4">
                                <label for="@($"ElectricityPlanRate-{rate.Id}")" class="form-label">Rate (¢/kWh)</label><br />
                                <InputNumber id="@($"ElectricityPlanRate-{rate.Id}")" class="form-control col-sm-12 col-md-4" @bind-Value="@rate.Rate"></InputNumber>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <label for="@($"ElectricityPlanMinkWh-{rate.Id}")" class="form-label">Min (kWh)</label><br />
                                <InputNumber id="@($"ElectricityPlanMinkWh-{rate.Id}")" class="form-control col-sm-12 col-md-4" @bind-Value="@rate.kWhMinimumUsage"></InputNumber>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <label for="@($"ElectricityPlanMaxkWh-{rate.Id}")" class="form-label">Max (kWh)</label><br />
                                <InputNumber id="@($"ElectricityPlanMaxkWh-{rate.Id}")" class="form-control col-sm-12 col-md-4" @bind-Value="@rate.kWhMaximumUsage"></InputNumber>
                            </div>
                        </div>
                    }
                </div>
                <button type="submit" hidden="@IsPlanDisabled" class="ms-3 mb-3 @(IsPlanDisabled ? "btn" : "btn btn-primary")">Save</button>
            </fieldset>
        </EditForm>
    </div>

    <div class="col-3">
        <button type="button" hidden=@(!IsPlanDisabled) class="mt-3 btn btn-primary" @onclick="GoToNextStep">Next</button>
    </div>
</div>


@code {
    private int _planId = 0;
    private List<ElectricityPlanViewModel> Plans { get; set; } = [];
    private ElectricityPlanViewModel Plan { get; set; } = new();
    private bool IsPlanDisabled => _planId != 0;

    [Parameter]
    public EventCallback<object> OnNextClick { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var dbPlans = await estimatorService.GetAllElectricityPlans();
        Plans = dbPlans.Select(plan => new ElectricityPlanViewModel
        {
            Id = plan.Id,
            Name = plan.Name,
            BaseCharge = plan.BaseCharge,
            Credit = plan.Credit,
            CreditMinimumUsage = plan.CreditMinimumUsage,
            ElectricityPlanRates = plan.ElectricityPlanRates?.Take(3).Select(rate => new ElectricityPlanRate
            {
                Id = rate.Id,
                Rate = rate.Rate,
                kWhMinimumUsage = rate.kWhMinimumUsage,
                kWhMaximumUsage = rate.kWhMaximumUsage,
            }).ToList() ?? []
        }).ToList();
        Plan = Plans.FirstOrDefault(plan => plan.Id == _planId) ?? new();

        if (Plan.ElectricityPlanRates.Count < 3)
        {
            for (int index = Plan.ElectricityPlanRates.Count; index < 3; index++)
            {
                Plan.ElectricityPlanRates.Add(new());
            }
        }
    }

    public async Task OnElectricityPlanSave(EditContext editContext)
    {
        var planViewModel = (ElectricityPlanViewModel)editContext.Model;
        var plan = _planId == 0 ? new Data.Models.ElectricityPlan()
        {
            Name = planViewModel.Name,
            BaseCharge = planViewModel.BaseCharge,
            Credit = planViewModel.Credit,
            CreditMinimumUsage = planViewModel.CreditMinimumUsage,
            ElectricityPlanRates = planViewModel.ElectricityPlanRates?.Select(rate => new Data.Models.ElectricityPlanRate
            {
                Rate = rate.Rate,
                kWhMinimumUsage = rate.kWhMinimumUsage,
                kWhMaximumUsage = rate.kWhMaximumUsage,
                IsActive = true
            }).ToList() ?? [],
            IsActive = true
        } : null;

        if (plan != null)
        {
            int? newPlanId = await estimatorService.AddElectricityPlan(plan);
            var dbPlans = await estimatorService.GetAllElectricityPlans();

            Plans = dbPlans.Select(plan => new ElectricityPlanViewModel
            {
                Id = plan.Id,
                Name = plan.Name,
                BaseCharge = plan.BaseCharge,
                Credit = plan.Credit,
                CreditMinimumUsage = plan.CreditMinimumUsage,
                ElectricityPlanRates = plan.ElectricityPlanRates?.Take(3).Select(rate => new ElectricityPlanRate
                {
                    Id = rate.Id,
                    Rate = rate.Rate,
                    kWhMinimumUsage = rate.kWhMinimumUsage,
                    kWhMaximumUsage = rate.kWhMaximumUsage
                }).ToList() ?? []
            }).ToList();

            _planId = newPlanId ?? 0;
        }
    }

    public async Task OnElectricityPlanChanged(int id)
    {
        _planId = id;
        Plan = Plans.FirstOrDefault(plan => plan.Id == _planId) ?? new();

        if (Plan.ElectricityPlanRates.Count < 3)
        {
            for (int index = Plan.ElectricityPlanRates.Count; index < 3; index++)
            {
                Plan.ElectricityPlanRates.Add(new());
            }
        }
    }

    public async Task GoToNextStep()
    {
        if (_planId != 0)
        {
            await OnNextClick.InvokeAsync(_planId);
        }
    }
}
